<div class="input-container">
  <form [formGroup]="formGroup">
    <div *ngFor="let control of formGroup.controls | keyvalue">
      <mat-form-field appearance="fill">
        <input matInput formControlName="{{control.key}}">
      </mat-form-field>
      <mat-icon (click)="onRemoveBtnClick(control.key)" *ngIf="true"> remove </mat-icon>
      <mat-icon (click)="onAddBtnClick()"> add </mat-icon>
    </div>
  </form>
  
  <button mat-stroked-button color="primary" (click)="onClickSave()">SAVE</button>
</div>