<div class="input-container">
  <form id="ip-input-form" [formGroup]="formGroup">
    <div *ngFor="let control of formGroup.controls | keyvalue">
      <mat-form-field appearance="outline">
        <input matInput formControlName="{{control.key}}" (change)="validateInputOnChange(control.key)">
      </mat-form-field>
      <mat-icon class="ml-1 mr-1" (click)="onRemoveBtnClick(control.key)" [class.disabled]="isRemoveDisabled(control.key)"> remove </mat-icon>
      <mat-icon class="ml-1 mr-1" (click)="onAddBtnClick()" [class.disabled]="isAddDisabled(control.key)"> add </mat-icon>
      
      <mat-error class="mt-1 mb-1" *ngIf=control.value.displayError>Please entry a valid IP Address</mat-error>
    </div>
  </form>

  <div class="section mt-1">
      <button id="save-btn" mat-raised-button color="primary" [disabled]="isSaveBtnDisabledOnSave || isSaveDisabled()" (click)="onClickSave()">SAVE</button>
  </div>
</div>